.footer_container{
    position: absolute;
    bottom: 0;
    height: 51px;
    width: 100%;
    display: flex;
    background-color: white;
    border-top: 4px solid rgba(0,0,0,0.16);
    color: #56ba77;
    font-family: Roboto;
    font-size: 11px;
    .league_table{
        opacity: 0.75;
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
    }
    .weekly_matches{
        opacity: 0.75;
        display: flex;
        align-items: center;
        justify-content: center;
        flex:1;
    }
}