.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 10px;
    background-color: #ebebeb;
    position: relative;
    .beat_em{
        position: fixed;
        right: 20px;
        bottom: 20px;
        opacity: 0.6;
        width: 200px;
        height: 200px;
    }
    .title{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 30px;
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 20px;
    }
    .matches_container{
        display: flex;
        width: 100%;
        justify-content: center;
        .match{
            opacity: 0.45;
            transition: opacity 0.3s ease;
            margin: 0 10px;
            padding: 5px;
            width: 150px;
            height: 100px;
            box-shadow: 0 3px 8px 0 rgba(0, 0, 0, 0.16);
            background-color: #fefefe;
            display: flex;
            flex-direction: column;
            align-items: center;
            &:hover{
                opacity: 0.85;
                cursor: pointer;
            }
            &.active{
                opacity: 1;
            }
            .match_title{
                height: 15px;
                width: 100%;
                font-size: 13px;
                font-weight: bold;
                color: black;
                text-align: center;
            }
            .match_stats{
                flex:1;
                width: 100%;
                font-size: 13px;
                font-weight: bold;
                display: flex;
                align-items: center;
                justify-content: space-between;
                img{
                    width: 30px;
                    height: 30px;
                    margin: 6px 0;
                }
                .home{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    font-size: 9px;                   
                }
                .away{
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    font-size: 9px;                   
                }
            }
        }
    }
    .edit_match_container{
        width: 100%;
        height: 100px;
        justify-content: center;
        margin-top: 30px;
        display: flex;
        .btn{
            margin: 0 10px;
            font-weight: bold;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 165px;
            height: 40px;
            border-radius: 15px;
            background-color: #fefefe;
            opacity: 0.45;
            transition: opacity 0.3s ease;
            &:hover{
                opacity: 1;
                cursor: pointer;
            }
        }
    }
    .match_live_stats{
        width: 100%;
        height: 100px;
        justify-content: center;
        align-items: center;
        display: flex;
        .stat{
            background-color: #fefefe;
            margin: 0 10px;
            display: flex;
            align-items: center;
            justify-content: center;
            width: 200px;
            height: 30px;
            font-size: 15px;
        }
    }
}