.wrapper{
    width: 100%;
    height: calc(100vh - var(--header-height));
    max-height: calc(100vh - var(--header-height));
    display: flex;
    flex-direction: column;
    .clean{
        position: absolute;
        height: 15px;
        width: 15px;
        z-index: 10;
        top: 12px;
        right: 35px;
    }
    // JOIN LEAGUE
    .join_league_container{
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: center;
        width: 100%;
        background-color: #ebebeb;
        .title{
            font-weight: bold;
            width: 100%;
            min-height: 60px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            font-size: 25px;
            letter-spacing: 0.88px;
            height: 60px;
            margin-top: 10px;
            background-image: var(--main-green-gradient);
            box-shadow: 0 3px 6px 0 rgba(0,0,0,0.16);
        }
        .invites_container{
            flex: 1;
            background-color: #ebebeb;
            width: 100%;
            padding: 15px;
            .card_container{
                display: flex;
                flex-direction: column;
                width: 100%;
                height: 105px;
                border-radius: 10px;
                box-shadow: 0 4px 0 0 #49ad6a;
                background-image: linear-gradient(to bottom, #f6f6f6, #ffffff);
                margin-bottom: 20px;
                .top_row{
                    width: 100%;
                    height: 30px;
                    border-top-left-radius: 10px;
                    border-top-right-radius: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: space-between;
                    padding: 0 6px;
                    .stats{
                        width: 200px;
                        display: flex;
                        font-size: 10px;
                        font-weight: bold;
                        letter-spacing: 0.5px;
                        color: var(--main-solid-green);
                        .players{
                            display: flex;
                            width: 85px;
                        }
                        .matches{
                            width: 100px;
                            display: flex;
                        }
                    }
                    .info{
                        width: 12px;
                        height: 12px;
                    }
                }
                .middle{
                    flex:1;
                    display: flex;
                    align-items: center;
                    padding: 6px;
                    max-height: 70px;
                    .friends{
                        height: 56px;
                        width: 56px;
                    }
                    .card_text{
                        display: flex;
                        height: 100%;
                        flex-direction: column;
                        margin-left: 8px;
                        span{
                            margin: 0;
                            padding: 0;
                        }
                        .card_title{
                            font-size: 15px;
                            font-weight: bold;
                            letter-spacing: 0.53px;
                            color: #53575a;
                        }
                        .card_description{
                            font-size: 8px;
                            letter-spacing: 0.25px;
                            color: #6b7175;
                            line-height: 1.2;
                        }
                    }
                    .card_join{
                        margin-left: auto;
                        display: flex;
                        flex-direction: column;
                        min-width: 75px;
                        .join{
                            margin-bottom: 5px;
                            font-size: 9px;
                            font-weight: bold;
                            letter-spacing: 0.9px;
                            color: white;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            height: 22px;
                            border-radius: 10px;
                            background-image: linear-gradient(to top, #57bb78 0%, #359254 199%);
                        }
                        .prize{
                            display: flex;
                            flex-direction: row;
                            align-items: center;
                            justify-content: center;
                            width: 100%;
                            color: #f4d03f;
                            font-size: 19px;
                            font-weight: bold;
                            .trophy{
                                height: 16px;
                                margin-right: 3px;
                            }
                        }
                    }
                }
                .footer{
                    span{
                        margin:0;
                        padding:0;
                        b{
                            padding:0;
                            margin:0;
                        }
                    }
                    font-size: 9px;
                    display: flex;
                    align-items: center;
                    background-color: var(--main-solid-green);
                    width: 100%;
                    height: 22px;
                    color: white;
                    padding: 0 6px;
                    border-bottom-left-radius: 10px;
                    border-bottom-right-radius: 10px;
                }
            }
        }
    }
    .top_banner{
        margin-top: 8px;
        min-height: 150px;
        width: 100%;
        display: flex;
        position: relative;
        flex-direction: column;
        align-items: center;
        .banner_title{
            margin-top: 17px;
        }
        .buttons_container{
            display: flex;
            width: calc(100vw - 54px );
            justify-content: space-between;
            margin-top: 17px;
            .card_container{
                display: flex;
                width: 145px;
                height: 64.5px;
                border-radius: 10px;
                background-color: white;
                padding: 12px 6px;
                .divider{
                    width: 3.2px;
                    height: 100%;
                    border-radius: 20px;
                    &.soccer{
                        background-color: var(--alt-solid-green);
                    }
                    &.football{
                        background-color: var(--main-solid-red);
                    }
                    &.basketball{
                        background-color: var(--alt-solid-orange);
                    }
                    &.baseball{
                        background-color: var(--alt-solid-grey);
                    }
                    &.hockey{
                        background-color: var(--alt-solid-cyan);
                    }
                }
                .text_container{
                    width: 100px;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    font-family: Arial;
                    font-size: 8px;
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.15;
                    letter-spacing: normal;
                    text-align: center;
                    color: #53575a;
                    text-align: left;
                    margin-left: 6.5px;
                    padding: 2px 0;
                    .text_body{
                        width: 105px!important;
                        height: 20px;
                    }
                    .text_title{
                        font-size: 13px;
                    }
                }
                img{
                    margin-left: auto;
                    width: 11px;
                }
            }
        }
        .top_banner_image{
            z-index: -1;
            position: absolute;
            width: 100%;
        }
    }
    .compete_text{
        margin-top: 15px;
        margin-bottom: 12.5px;
        padding: 0 30px;
    }
    .search{
        width: calc(100% - 54px);
        margin: 0 auto;
        box-shadow: 0 3px 11px 0 rgba(0,0,0,0.07);
    }
}