.wrapper{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    .top_banner{
        margin-top: 8px;
        height: 150px;
        width: 100%;
        border-bottom-left-radius: 32px;
        border-bottom-right-radius: 32px;
        background-image: var(--main-green-gradient);
        display: flex;
        flex-direction: column;
        align-items: center;
        .banner_title{
            margin-top: 17px;
        }
        .buttons_container{
            margin-top: 16px;
            width: calc(100vw - 54px);
            display: flex;
            justify-content: space-between;
            .card_container{
                display: flex;
                width: 145px;
                height: 64.5px;
                border-radius: 10px;
                background-color: white;
                padding: 14px 8.5px;
                .divider{
                    width: 3.2px;
                    height: 100%;
                    background-color: #6cc98b;
                    border-radius: 20px;
                }
                .text_container{
                    width: 100px;
                    padding: 1px 0;
                    display: flex;
                    flex-direction: column;
                    justify-content: space-between;
                    font-family: Arial;
                    font-size: 8px;
                    font-weight: bold;
                    font-stretch: normal;
                    font-style: normal;
                    line-height: 1.15;
                    letter-spacing: normal;
                    text-align: center;
                    color: #53575a;
                    text-align: left;
                    margin-left: 6.5px;
                    .text_title{
                        font-size: 13px;
                    }
                }
                .right_arrow{
                    width: 15px;
                    font-size: 25px;
                    font-weight: bold;
                    color: #6cc98b;
                }
            }
        }
    }
}