.leagues_wrapper{
    margin-top: 20px;
    height: 100%;
    min-height: 330px;
    .leagues_container{
        padding: 0 6px 0 24px;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        .no_leagues{
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
        .league{
            margin-right: 20px;
            width: 90px;
            height: 90px;
            border-radius: 15px;
            margin-bottom: 20px;
            &.soccer{
                border: 3px solid var(--main-solid-green);
                background-color: var(--main-solid-green);
            }
            &.football{
                border: 3px solid var(--main-solid-blue);
                background-color: var(--main-solid-blue);
            }
            &.basketball{
                border: 3px solid var(--main-solid-orange);
                background-color: var(--main-solid-orange);
            }
            &.baseball{
                border: 3px solid var(--main-solid-grey);
                background-color: var(--main-solid-grey);
            }
            &.hockey{
                border: 3px solid var(--main-solid-cyan);
                background-color: var(--main-solid-cyan);
            }
            &.league_name{
                display: flex;
                align-items: center;
                justify-content: center;
                height: 10px;
                margin-top: 2px;
                font-size: 10px;
            }
            .league_image_container{
                display: flex;
                align-items: center;
                justify-content: center;
                height: 73px;
                border-top-left-radius: 16px;
                border-top-right-radius: 16px;
                background-image: linear-gradient(134deg, #d2d2d2 1%, #ffffff 48%);
                .premier{
                    width: 79px;
                }
                .laliga{
                    width: 80px;
                }
                .bundas{
                    width: 90px;
                    height: 70px;
                }
                .seriea{
                    width: 90px;
                    height:80px;
                }
                .ligueone{
                    width: 58px;
                    height: 58px;
                }
                .bundas{
                    width: 90px;
                    height: 70px;
                }
                .ered{
                    width: 60px;
                    height: 60px;
                }
                .ligamx{
                    width: 60px;
                    height: 40px;
                }
                .champions{
                    width: 75px;
                    height: 75px;
                }
                .brazil{
                    width: 90px;
                    height: 65px;
                }
            }
        }
    }
}