// Misc
.notifications{
    position: absolute;
    left: 50%;
    top: 50%;
    z-index: 2;
    margin-left: 6px;
    margin-bottom: 6px;
    height: 14px;
    width: 14px;
    background-color: var(--alt-solid-red);
    border-radius: 16px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 9px;
    font-weight: 900;
    &.on_menu{
        position: relative;
        left: 0;
        top:0;
        margin-bottom: 0px;
        margin-left: auto;
    }
}

// Main
.user_menu_wrapper{
    z-index: 2;
    height: 100vh;
    width: 100vw;
    transition: background-color 1s ease;
    background-color: rgba(0,0,0, 0.72);
    position: fixed;
    top: 0;
    &.closed{
        background-color: rgba(0,0,0, 0);
        z-index: 1;
        pointer-events: none;
    }
}

.user_menu_container{
    position: fixed;
    right: 0;
    top:0;
    z-index: 3!important;
    height: 100vh;
    width: 250px;
    opacity: 1;
    margin-left: auto;
    display: flex;
    flex-direction: column;
    font-family: Roboto;
    .user_menu_top{
        min-height: 105px;
        box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.16);
        background-image: linear-gradient(to bottom, #414547 -8%, #414547 0%, #53575a);
        .top_menu_wrapper{
            display: flex;
            height: 100%;
            padding: 10px;
            align-items: center;
            .menu_avatar{
                width: 62px;
                height: 62px;
                margin-right: 20px;
            }
            .info_container{
                display: flex;
                flex-direction: column;
                align-items: center;
                width: 100%;
                .name{
                    text-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
                    font-size: 16px;
                    font-weight: 900;
                    letter-spacing: 0.48px;
                    color: #f7f7f7;
                }
                .stats_container{
                    width: 100%;
                    display: flex;
                    justify-content: space-evenly;
                    margin-top: 8px;
                    font-size: 13px;
                    font-weight: 900;
                    .balance{
                        width: 58.6px;
                        height: 21.4px;
                        border-radius: 30px;
                        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
                        background-color: #7b7b7b;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        color: var(--main-solid-yellow);
                    }
                    .score{
                        width: 58.6px;
                        height: 21.4px;
                        border-radius: 30px;
                        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
                        background-color: #7b7b7b;
                        align-items: center;
                        justify-content: center;
                        color: var(--main-solid-lightgreen);
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        justify-content: center;
                    }
                }
                .rank_container{
                    width: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    margin-top: 5px;
                    .rank_name{
                        font-family: Roboto;
                        font-size: 9px;
                        font-weight: bold;
                        letter-spacing: 0.9px;
                        color: var(--main-solid-yellow);
                        margin-right: 3px;
                    }
                    .stars_container{
                        width: 50px;
                        display: flex;
                        justify-content: space-between;
                    }
                }
            }
        }
    }
    .user_menu_bottom{
        height: 100%;
        background-image: linear-gradient(to bottom, #ffffff, #e6e6e6);
        font-family: Roboto;
        font-size: 13px;
        letter-spacing: 1.3px;
        color: #53575a;
        padding: 12px 0;
        position: relative;
        .sign_out{
            position: absolute;
            bottom: 12px;
            left:0;
            right:0;
            margin-left:auto;
            margin-right:auto;
            border-radius: 16px;
            background-color: var(--alt-solid-red);
            height: 30px;
            width: 80px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: white;
            font-size: 10px;
        }
        .menu_item_container{
            display: flex;
            padding: 0 12px;
            height: 33px;
            width: 100%;
            align-items: center;
            .icon{
                margin-right: 15px;
            }
        }
    }
}

.header_container{
    width:100%;
    height: 52px;
    display: flex;
    padding: 0 21px 0 10px;
    &.soccer{
        background-image: var(--main-green-gradient);
    }
    &.hockey{
        background-image: var(--main-cyan-gradient);
    }
    &.basketball{
        background-image: var(--main-orange-gradient);
    }
    &.baseball{
        background-image: var(--main-grey-gradient);
    }
    &.football{
        background-image: var(--main-blue-gradient);
    }
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    .title_img{
        height: 34.5px;
    }
    .menu_container{
        display: flex;
        align-items: center;
        .header_profile_container{
            display: flex;
            align-items: center;
            width: 78px;
            margin-right: 25px;
            .stats_container{
                margin-right: 5px;
                display: flex;
                flex-direction: column;
                width: 44px;
                font-family: Roboto;
                align-items: center;
                justify-content: center;
                .balance{
                    font-size: 14px;
                    font-weight: 900;
                    color: var(--main-solid-yellow);
                }
                .score{
                    color: white;
                    font-size: 7px;
                    line-height: 1.29;
                    letter-spacing: 0.35px;
                    font-weight: bold;
                }
            }
            .avatar{
                width: 34px;
                height: 34px;
            }
        }
        .menu_icon_container{
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
        }
        .login{
            margin-right: 17.5px;
            font-size: 17px;
            color: #ffffff;
            line-height: 1.18;
            letter-spacing: 0.85px;
            font-weight: bold;
        }
        .home{
            margin-right: 17.5px;
            width: 18.7px;
        }
        .menu{
            width: 24.9px;
        }
    }
}