.header_container{
    width:100%;
    height: 52px;
    display: flex;
    padding: 0 21px 0 10px;
    &.soccer{
        background-image: var(--main-green-gradient);
    }
    &.hockey{
        background-image: var(--main-cyan-gradient);
    }
    &.basketball{
        background-image: var(--main-orange-gradient);
    }
    &.baseball{
        background-image: var(--main-grey-gradient);
    }
    &.football{
        background-image: var(--main-blue-gradient);
    }
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.16);
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0px;
    .title_img{
        height: 34.5px;
    }
    .menu_container{
        display: flex;
        .login{
            margin-right: 17.5px;
            font-size: 17px;
            color: #ffffff;
            line-height: 1.18;
            letter-spacing: 0.85px;
            font-weight: bold;
        }
        .home{
            margin-right: 17.5px;
            width: 18.7px;
        }
        .menu{
            width: 24.9px;
        }
    }
}