.score_row_container{
    display: flex;
    height: 26px;
    color: var(--alt-solid-yellow);
    font-size: 18px;
    font-weight: bold;
    p{
        margin: 0;
        margin-left: 3px;
        font-size: 10px;
    }
    .home_score_wrapper{
        &.type_b{
            border-bottom-left-radius: 10px;
        }
        display: flex;
        align-items: center;
        justify-content: center;
        flex: 1;
        background-image: var(--main-green-gradient);
    }
    .draw_score_wrapper{
        display: flex;
        flex: 1;
        align-items: center;
        justify-content: center;
        background-image: var(--main-green-gradient);
        &.type_b{
            border-right: solid 1px white;
            border-left: solid 1px white;
        }
    }
    .away_score_wrapper{
        &.type_b{
            border-bottom-right-radius: 10px;
        }
        flex: 1;
        display: flex;
        align-items: center;
        justify-content: center;
        background-image: var(--main-green-gradient);
    }
}