.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    min-height: 900px!important;
    position: relative;
    background-color: red;
    margin-top: 9.5px;
}