.container{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    position: relative;
    background-color: #ebebeb;
    margin-top: 9.5px;
}