:root{
    // Backgrounds & Colors
    --main-solid-green: #57bb78;
    --main-solid-orange: #ff9000;
    --main-solid-blue: #2970be; 
    --main-solid-grey: #b2c4c3;
    --main-solid-cyan: #3ddde1;
    --error-box: #d1435b;
    // Typography
    // Shadows
    --card-shadow: 0 0 2rem 0 rgba(0,0,0,.15);
    // Consts
    --header-height: 52px;
    #root{
        width: 100vw;
        max-width: 100vw;
    }
    body,html {
        font-family: Roboto;
        margin: 0;
        padding: 0;
        max-width: 100vw;
        min-width: 100vw;
    }
    * {
        box-sizing: border-box;
    }
    img{
        object-fit: contain;
    }
}
@import '~bootstrap/scss/bootstrap.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,bold,700&display=swap');