:root{
    *::-webkit-scrollbar {
        width: 0px;
      }
      *::-webkit-scrollbar-track {
        background: transparent;
      }
      *::-webkit-scrollbar-thumb {
        background-color: var(--main-blue);
        border-radius: 20px;
      }
    // Backgrounds & Colors
    --main-solid-green: #57bb78;
    --main-solid-orange: #ff9000;
    --main-solid-blue: #2970be; 
    --main-solid-grey: #b2c4c3;
    --main-solid-cyan: #3ddde1;
    --error-box: #d1435b;
    // Gradients
    --main-green-gradient: linear-gradient(to top, #57bb78, #3d9b5c);
    --main-cyan-gradient: linear-gradient(to top, #3ddce0, #1a91a4);
    --main-orange-gradient: linear-gradient(to top, #ffad50, #ff9000);
    --main-grey-gradient: linear-gradient(to top, #b2c4c3, #8b9493);
    --main-blue-gradient: linear-gradient(to top, #2970be, #013369);
    // Typography
    div[class*="white_text_1"]{
        font-family: Roboto;
        font-size: 17px;
        font-weight: 400;
        font-stretch: condensed;
        font-style: normal;
        line-height: 1.35;
        letter-spacing: 0.6px;
        text-align: center;
        color: #ffffff;
    }
    div[class*="grey_text_1"]{
        font-family: Roboto;
        font-size: 11px;
        font-weight: 500;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.36;
        letter-spacing: 0.55px;
        text-align: center;
        color: #919191;
    }
    // Shadows
    --card-shadow: 0 0 2rem 0 rgba(0,0,0,.15);
    // Consts
    --header-height: 52px;
    --footer-height: 140px;
    #root{
        position: fixed;
        width: 100%!important;
        min-height: 0px;
    }
    body,html {
        font-family: Roboto;
        margin: 0;
        padding: 0;
        max-width: 100%!important;
        min-height: 0px;
    }
    * {
        box-sizing: border-box;
    }
    img{
        object-fit: contain;
    }
}

@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,bold,700&display=swap');
